@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --height: 70px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    
}

.nav{
    background:#ff4654;
    height: var(--height);
    position: fixed;
    top: 0;
    width: 100%;
    
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}



.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height);
    
}

.nav__container__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container__logo__img{
    background-image: url(logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
    
}

.container__logo__text{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;

}


.container__link{
    text-decoration: none;
    color: white;
    margin-left: 2em;
    font-size: 1.1rem;
    font-weight: bold;
}

.main{
    
}

.mapas{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(mapas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.mapas__container{
    display: flex;
    align-items: center;
}

.mapas__texto{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}


.mapas__texto__h2{
    font-size: 4rem;
    color: white;
}

.mapas__texto__p{
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}

.mapas__texto__btn{
    background: #ff4654;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.agentes{

    background-image:  linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%),url(agentes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.agentes__texto{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.agentes__texto__h2{
    font-size: 4rem;
    color: white;
}

.agentes__texto__p{
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}

.agentes__texto__btn{
    background: #ff4654;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.armas{
    background-image:  linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%),url(armas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.armas__container{
    display: flex;
    align-items: center;
}

.armas__texto{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}


.armas__texto__h2{
    font-size: 4rem;
    color: white;
}

.armas__texto__p{
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}

.armas__texto__btn{
    background: #ff4654;
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}


@media screen and (max-width:540px) {
    :root{
        --height: 100px;
    }

    .nav__container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .mapas__texto{
        align-items: center;
    }

    .agentes__texto{
        align-items: center;
    }

    .armas__texto{
        align-items: center;
    }
    
}


/* mapas.html */

.main_map{ 
    margin-top: calc(var(--height) + 50px) ;
    height: 105vh;
    
}

.title__map{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.maps__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.map{
    background: #ff4654;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.582);
    width: 500px;
    height: 100px;
    padding: 25px;
    overflow: hidden;
    transition: 0.5s all;
    
    
    
}
.map:hover{
    width: 500px;
    height: 350px;   
}

.map h2{
    color: white;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
    
}


.map p{
    
    
    text-align: justify;
    color: white;
    margin-bottom: 40px;
    
}

.map a{
    display: block;
    width: 150px;
    padding: 15px;
    background: #ff4654;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;

}

.map:last-child{
    margin-bottom: 50px;
}

.bind{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(bind.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ascent{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(ascent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breeze{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(breeze.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fracture{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(fracture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.haven{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(haven.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icebox{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(icebox.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.split{
    background-image: linear-gradient(to right, #272727b4 0%, rgba(0, 0, 0, 0.445) 100%), url(split.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}













